/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Reset geral */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    background-color: #f8f9fa; /* bg-light */
}

/* Navbar */
.navbar {
    font-size: 1.2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
}

/* Navbar Brand */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar links */
.navbar-nav .nav-link {
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Dropdown */
.dropdown-menu {
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Exibição do submenu quando ativo */
.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    color: #007bff;
}

/* Ícones na navbar */
.navbar-nav .nav-link i {
    font-size: 1.3rem;
}

/* Main */
main {
    flex: 1;
    padding-bottom: 60px; /* Para garantir que o conteúdo não fique escondido atrás do footer */
}

/* Footer */
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px !important; /* Ajustar a altura do footer conforme necessário */
    z-index: 10 !important; /* Garante que o footer ficará acima do conteúdo */
}

/* Garantir que o body ocupe pelo menos 100vh */
html, body {
    overflow-x: hidden;
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .navbar {
        font-size: 1rem;
        padding: 0.75rem 1rem;
    }

    .navbar-brand {
        font-size: 1.3rem;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
        padding: 8px 12px;
    }
}

/* Dropdown */
.dropdown-menu {
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Exibição do submenu quando ativo */
.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
